 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Edgenius is Sydney based technical consultant company. We help technical startup success to build their product without the hassle of low-quality outsourcing. We only serve the startup in Sydeny.  We help to build the full technical stack from scratch to a full functional product, and scalable to meet fast-growing services.</p>
                </div>
                <div class="col-lg-4">
                    <p> 
                    We are good at web, mobile and macOS application architecture design and development. For web, we provides full stack solution from cloud infrastructure, backend and front-end development. We have strong experience to build and deploy iOS and Android mobile apps.  We also provide macOS application development.
                    </p>
                </div>
            </div>
        </div>
    </section>