 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Edgenius is Sydney based technical consultant company. We help technical startup success to build their product without the hassle of low-quality outsourcing. We also have a bunch of our own products. We have iOS and OSX Apps TextNut and Kardnode, an open source project GeniusWiki. </p>
                </div>
                <div class="col-lg-4">
                    <p> 
                    We are good at web, mobile and macOS application architecture design and development. For web, we provide full stack solution from cloud infrastructure, backend and front-end development. We have strong experience to build and deploy iOS and Android mobile apps. We also provide macOS application development.
                    </p>
                </div>
            </div>
        </div>
    </section>